{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Maria Data Plot{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>

{% block navbar %}
    
{% endblock navbar %} 


{% block content %}
<div style="width:100%; height: 200px;">
    <div style="margin-top: 20px; height: 40px;">
        <div class="dropdown" style="float: right;">
            <select id="ddlTicker" style="float: right; margin-right: 10px;">
                {% for each_ticker in tickers %}
                    <option value="{{each_ticker}}">{{each_ticker}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="margin-top: 10px; height: 30px;">
        <div class="col-sm-4"></div>
        <div id="search" style="" class="input-group col-sm-4">
          <div class="row">
              <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Company Ticker" aria-describedby="basic-addon2">
              </div>
              <div class="col-sm-2">
                <button style="float:left" class="btn btn-primary btn-large">search</button>  
              </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div style="margin-top: 10px;height: 50px;background: #c3c3c3;" class="row">
        <div class="col-sm-3">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>            
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>            
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>            
        </div>
    </div>
    <div id="container" style="min-width: 310px; height: 400px;border: 4px solid #d4d0d0;"></div>
</div>
{% endblock content %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


{% block javascript %}
<script type="text/javascript">

    function draw_chart(data) {        

        new Highcharts.Chart({
            chart: {
                renderTo: 'container',

            },

            /*tooltip: {
                formatter: function () {
                    return  'Open: <b>' + this.point.open + '</b><br/>' + 
                            'Close: <b>' + this.point.close + '</b><br/>' + 
                            'High: <b>' + this.point.high + '</b><br/>' +
                            'Low: <b>' + this.point.low + '</b><br/>' +
                            'Volume: <b>' + this.point.volume + '</b><br/>';
                }
            },*/

            title: {
                text: 'Stock Exchange Trading Data'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Trading Value'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'Stock Trading Data',
                data: data
            }]
        });
    }

    function get_data_and_plot(){
        var ticker = $('#ddlTicker').val();
        var url = '/chartdata/' + ticker + '/';
        var data = [];

        $.get(url, function(mydata) {
          for (var i=0; i< mydata.length; i++){
            var my_date = mydata[i]['date'].split('-');

            console.log(my_date);

            data.push({
                x: Date.UTC(my_date[0], my_date[1], my_date[2]),
                y:mydata[i]['adj_close'],
                /*high: mydata[i]['high_value'],
                low: mydata[i]['low_value'],
                close: mydata[i]['close_value'],
                open: mydata[i]['open_value'],
                ticker: mydata[i]['ticker'],
                volume: mydata[i]['volume']*/
            });
          }

          draw_chart(data);
        });
    }

    $('#ddlTicker').on('change', function(){
        get_data_and_plot();
    });

    $(document).ready(function(){
        get_data_and_plot();
    });

</script>

{% endblock javascript %}

</body>

</html>