{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Maria Data Plot{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>

{% block navbar %}
    
{% endblock navbar %} 


{% block content %}
<div style="width:100%; height: 200px;">
    <div style="margin-top: 20px; height: 40px;">
        <div class="dropdown">
            <select style="float: right; margin-right: 10px;">
                {% for each_ticker in tickers %}
                    <option value="{{each_ticker}}">{{each_ticker}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="container" style="min-width: 310px; margin-top: 20px; height: 400px;"></div>
</div>
{% endblock content %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


{% block javascript %}
<script type="text/javascript">
    var data = [
            { 
                x: Date.UTC(2013,5,2),
                y: 0.7695,
            },
            {
                x: Date.UTC(2013,5,3),
                y:0.7648
                
            },
            {
                x: Date.UTC(2013,5,4),
                y: 0.7645
                
            },
            {
                x: Date.UTC(2013,5,5),
                y: 0.7638
                
            },
            {
                x: Date.UTC(2013,5,6),
                y: 0.7549

            },
            {
                x: Date.UTC(2013,5,7),
                y: 0.7562
                
            },
            {
                x: Date.UTC(2013,5,9),
                y: 0.7574
            },
            {
                x: Date.UTC(2013,5,10),
                y: 0.7543
            },
            {
                x: Date.UTC(2013,5,11),
                y: 0.7510
            },
            {
                x: Date.UTC(2013,5,12),
                y:0.7498
            },
            {
                x: Date.UTC(2013,5,13),
                y: 0.7477
            },
            {
                x: Date.UTC(2013,5,14),
                y: 0.7492
            },
            {
                x: Date.UTC(2013,5,16),
                y: 0.7487
            },
            ];
    
        

        new Highcharts.Chart({
            chart: {
                renderTo: 'container',

            },

            tooltip: {
                formatter: function () {
                    return  'Open: <b>' + this.point.open + '</b><br/>' + 
                            'Close: <b>' + this.point.close + '</b><br/>' + 
                            'High: <b>' + this.point.high + '</b><br/>' +
                            'Low: <b>' + this.point.low + '</b><br/>' +
                            'Volume: <b>' + this.point.volume + '</b><br/>';
                }
            },

            title: {
                text: 'Stock Exchange Trading Data'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Trading Value'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'Stock Trading Data',
                data: data
            }]
        });

</script>

{% endblock javascript %}

</body>

</html>