{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Admission{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

    {% block angular %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
    <script src="{% static 'js/angular-resource.min.js' %}"></script>
    <script src="{% static 'js/angular-messages.min.js' %}"></script>

    {% endblock %}

  </head>

  <body style="overflow-x: hidden;">
  {% block navbar %}
    <div class="m-b">
      <nav class="navbar navbar-dark navbar-static-top bg-inverse" style="border-radius: 0; height: 58px !important;padding: 1.5rem 1rem;border-color: rgba(46, 49, 146, 0.52); background: #00135D none repeat scroll 0% 0%;" >
        <a style="padding:0px; margin-left: -18px;" class="navbar-brand"  href="{% url 'home' %}">
          <img style="opacity: 1;margin-top: -24px;" class="preload-me" src="{% static 'dashboard/images/logo-final.png' %}" alt="Ace Higher Secondary" width="" height="68">
        </a>

        <div class="container">
          <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Admission
                </a>
              
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'application:application' slug='plus-two-management' %}">
                    +2 Management
                  </a>
                </div>
              </li>
              
              <li class="nav-item">
                <a class="nav-link"  href="{% url 'enquiry:enquiry' %}">Enquiry</a>
              </li>
              
          </ul>

          <ul class="nav navbar-nav pull-xs-right navbar-right top-nav" style="padding-bottom: 15px;">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link"  href="#">Welcome {{request.user.get_full_name}} !</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a id="sign-up-link"  class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                </li>
                <li class="nav-item">
                  <a id="log-in-link"  class="nav-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                </li>
              {% endif %}
          </ul>

        </div>
      </nav>
    </div>
  {% endblock navbar %}

    {% block home_top_body %}
 

    {% endblock home_top_body %}
    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    <footer>
        <div class="container">
            <div class="row row-footer">             
                <div class="col-xs-5 col-xs-offset-1  col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                  GPO Box 10001, New Baneshwor,<br>
                  Kathmandu, <br>
                  NEPAL<br>
                   <i class="fa fa-phone"></i>: +977 1 4474712/4469019 <br>
                  <i class="fa fa-fax"></i>: +977 1 4499817/4110702<br>
                  <i class="fa fa-envelope"></i>: 
                                 <a href="mailto:confusion@food.net">mail@ahs.com</a>
               </address>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="nav navbar-nav" style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align="center">© Ace Higher Secondary, 2016 All Rights Reserved. Website by: PHUNKA</p>
                </div>
            </div>
        </div>
    </footer>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

      <!-- Tether - a requirement for Bootstrap tooltips -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
