{% extends "base.html" %}


{% block content_home %}
 <header class="jumbotron" style="padding-bottom: 10px;">
    <div class="container">
        <div class="row row-header" style="min-height: 550px">
        {% if not request.user.is_authenticated  or not guidlines %}
            <div class="col-sm-12">
                <h1>Ace Higher Secondary</h1>
                <p style="padding:40px;"></p>
                <p>Providing learning environment where students prepare themselves to face the opportunities and challenges of life in general and of higher education in particular.</p>
            </div>            
        {% else %}
            <div class="col-sm-12" style="text-align: justify;">
                <div class="row">
                    <h2 class="guidelinesh2">{{guidlines.title|safe}}</h2>
                    <div class="card guidelines">
                        {{guidlines.title_note|safe}}
                    </div>
                    <div class="col-sm-6">
                        
                        <div class="guidelines card ">
                            <h4>{{guidlines.prerequisite_title|safe}}</h4>
                            {{guidlines.prerequisite|safe}}
                        </div>
                        <div class="guidelines card">
                            <h4>{{guidlines.procedure_title|safe}}</h4>
                            {{guidlines.procedure|safe}}
                        </div>

                    </div>
                    <div class="col-sm-6">
                        
                        <div class="guidelines card">
                            <h4>{{guidlines.instructions_title|safe}}</h4>
                            {{guidlines.instructions|safe}}
                        </div>
                        {% if guidlines.application_fee_title %}
                        <div class="guidelines card">
                            <h4>{{guidlines.application_fee_title|safe}}</h4>
                            {{guidlines.application_fee|safe}}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

            <div class="col-xs-12 col-sm-3" style="padding-bottom: 30px;">
               <a style="margin-top:20px;" id="btn-reserve" class="btn btn-warning btn-block btn-ahs" type="button" href="{% url 'application:application' slug='plus-two-management' %}" >
                    Apply Now
                </a>
            </div>

        </div>
    </div>
</header>
{% endblock content_home %}

{% block javascript %}


<script>
        $(document).ready(function(){
            $("#mycarousel").carousel( { interval: 2000 } );
                          $("#carousel-pause").click(function(){
                $("#mycarousel").carousel('pause');
            });
                        $("#carousel-play").click(function(){
                $("#mycarousel").carousel('cycle');
            });
        });
    </script>

{% endblock javascript %}